body {

}

.container {
    max-width: 1300px;
    padding: 2px 2px;
}

.content {
    display: flex;
    flex-flow: wrap;
    font-size: 14px;
    justify-content: flex-start;
}

.section {
    margin: 2px;
    padding:5px;
    /* border: solid; */
    border-width: thin;
    border-color: rgb(197, 195, 195);
}

.header-area {
    flex-basis: 100%;
    padding:2px;
}

.menu-area {
    flex-basis: 100%;
    padding:2px;
    font-size:16px;
    color:whitesmoke;
    background-color: rgb(5, 170, 170);
}

.right-sidebar {
    flex-grow: 1;
}

.list-area {
    flex-basis: 60%;

}

.form-area {
    flex-basis: 100%;
}

.form-area .section {
    display: flex;
    flex-wrap: wrap;
}

.list-area hr{
    margin-top:10px;
    margin-bottom: 10px;
}
/* DATE PICKER STYLING */
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
/* .content div:nth-child(2n) {
    background-color: rgb(194, 194, 194);
}

.content div:nth-child(2n+1) {
    background-color: rgb(105, 101, 101);
} */