<div class="col-xs-4" style="width:225px">
<p class="input-group">
    <input id="{{datePicker.controlId}}" type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="datePicker.dateValue" is-open="datePicker.popUpStatus.opened" 
       datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" placeholder="{{datePicker.placeholder}}"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="datePicker.open()">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</p>
</div>