<div class="col-xs-4" style="width:225px">
<p class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="mySearchDate" is-open="myIsOpenedProp" 
       datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" placeholder="{{myPlaceholder}}"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="myOpenDatePickerPop()">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</p>
</div>